@mixin roboto($fw) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: $fw;
}

@mixin quicksand($fw) {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: $fw;
}

@mixin ul-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}