.btn {
  @include quicksand($fw-bold);

  padding: 13px 15px;
  margin: 0;
  font-size: $fz-sm;
  text-decoration: none;
  background-color: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: $transition;

  &--primary {
    background: #D2E1FF;
    color: #3A79FF;
    &:hover {
      background-color: darken(#D2E1FF, 5%);
    }
  }
  &--eclipse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
    border-radius: 100%;
    &::before {
      content: "";
      height: 0;
      width: 0;
      display: block;
      border-top: 8px solid transparent;
      border-left: 12px solid #5E81FF;
      border-bottom: 8px solid transparent;
      margin-left: 2px;
    }
  }
}